<launch>
  

<!-- /home/roboticslab/Storage/Old_bags/bebob2_bag/exp7.bag -->

  <!-- Start state estimator node -->
    <rosparam command="load" file="$(find yolo_tag_detector)/config/vicon_param.yaml" />
    <arg name="BAG_FILE" default="val_bag.bag" />
    <arg name="BAG_ROOT" default="/home/roboticslab/Storage/Old_bags/yolotag_train_02.09.2024" />

   
    <node pkg="yolo_tag_detector" type="logger_node" name="logger_node" output="screen" />
    <node name="rosbag" pkg="rosbag" type="play" args="--clock -s 25 $(arg BAG_ROOT)/$(arg BAG_FILE) --topics /apriltag/state/filtered /bebop2/goal"/>
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bebop2_controller)/config/tag.rviz"/>
</launch>